<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official webpage for Palt_0verflow!">
    <title>Palt_0verflow</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="text">
            <h1>Palt_0verflow</h1>
            <h2>"Don't get the paltschwimen"</h2>
        </div>
        <img src="/images/Pitepalt.png" alt="">

        <!-- ---------- Image Upload Chat ---------- -->
        <section class="chat-section">
            <h3>Upload an paltimage to be evaluated!</h3>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="image"
                       accept="image/png, image/jpeg, image/jpg, image/webp"
                       required>
                <button type="submit">Send Image</button>
            </form>
        </section>
        <!-- ---------------------------------------- -->
    </main>

    <footer>
        <p><em>The palt image is created by Fredrik Andersson, 
        <a href="https://commons.wikimedia.org/wiki/File:Pitepalt.jpg">Pitepalt</a>, 
        Removed the background, 
        <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="license">CC BY-SA 2.5</a></em></p>
    </footer>
</body>
</html>
