<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>429 - MrStalker</title>
    <style>
        :root {
            font-family: Consolas, 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>SLOW DOWN!</h1>
    <p>
        You have been rate limited<br>
        Let MrStalker fetch all the data for you<br>
        Wait a few seconds and try again
    </p>
</body>
</html>
