<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MrStalker - Privacy Policy</title>
    <style>
        :root {
            font-family: Consolas, 'Courier New', Courier, monospace;
        }
        h1 a {
            color: initial;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1><a href="/">MrStalker</a></h1>
    <p>
        We just don't care about your privacy
    </p>
</body>
</html>
